
p{
    margin-bottom: 0;
}
.card{
    padding: 20px;
    border-radius: 0px;
    border: none;
    box-shadow: 0px -1px 10px 1px rgba(0,0,0,0.1);

}
.card h6{
    color: #0062bd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-bottom: 20px;
}
.cat{
    margin-bottom: 10px;
    font-size: 14px;
}
.lead{
    font-weight: 500;
}
.cart-icon{
    color: #fff;

}
.hola{
    background-color: #FED700;
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}